
{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.date.month }}/{{ object.date.day }} | {{ object.place }} </p>
<section class="post-text">
    {{ object.text|linebreaksbr }}
</section>
<section class="post-date">
{% if message %}
	<p>{{ message }}</p>
{% else %}
<table>
	<tr>
		<td>順位</td>
		<td style = 'text-align:center;'>馬名</td>
		<td style = 'text-align:center;'>予想タイム</td>
	</tr>
	{% for hd in predict_data %}
	<tr>
	   	<td>{{ forloop.counter }}</td> 
	   	<td style="padding-left: 18px;">{{hd.0}} </td>
	   	<td style="padding-left: 18px;">{{hd.1}} 分</td>
	<tr>
	{% endfor %}
</table>
{% endif %}
</section>
<section>
    <p><a href="javascript:history.back()">&lt; Back</a></p>
</section>
{% endblock %}